.th-center{
    text-align: center;
}
.th-left{
    text-align: left;
}
.th-right{
    text-align: right;
}
.width{
    width: 1%;
}
.width-big{
    width: 2%;
}

.mat-header-cell{
    font-weight: bolder;
    color: black;
}
.mat-header-row{
    border-bottom: black 1px solid;
}