<div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h1 class="text-center"> {{buttonQuote}} Data</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <button class="btn btn-primary" [routerLink]="''"> <-Go Back</button>
    </div>
    <div class="col">
      <button class="btn btn-danger" *ngIf="this.hidden" (click)="openDialog(tasks)"><-Delete-></button>
    </div>
    <div class="col">
      <button class="btn btn-success" (click)="addEdit(tasks,buttonQuote)">{{buttonQuote}} -></button>
    </div>
  </div>
  <div class="row">
    <table class="table text-center">
      <tr>
        <th>Info</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>ID: </td>
        <td><input type="text" value="{{tasks.QuoteID}}" class="form-control text-center col-6" disabled></td>
      </tr>
      <tr>
        <td>Quote Type: </td>
        <td><input type="text" [(ngModel)]="tasks.QuoteType" class="form-control text-center col-6"></td>
      </tr>
      <tr>
        <td>Contact: </td>
        <td><input type="text" [(ngModel)]="tasks.ContactPerson" class="form-control text-center col-6"></td>
      </tr>
      <tr>
        <td>Task: </td>
        <td><input type="text" [(ngModel)]="tasks.Task" class="form-control text-center col-6"></td>
      </tr>
      <tr>
        <td>Due Date: </td>
        <td><input type="date"  [ngModel]="tasks.DueDate| date:'yyyy-MM-dd'" 
          (ngModelChange)="tasks.DueDate= $event" required class="form-control text-center col-6"/></td>
      </tr>
      <tr>
        <td>Task Type: </td>
        <td><input type="text" [(ngModel)]="tasks.TaskType" class="form-control text-center col-6"></td>
      </tr>
    </table>
  </div>
</div>
